.form {
  width: 583px;
  min-height: 395px;
  background: white;
  border: 1px solid #E6EAEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 30px;

  .header {
  	height: 39px;
  	width: 100%px;
  	color: #242E42;
  	font-family: Lato;
  	font-size: 32px;
  	font-weight: bold;
  	letter-spacing: 0.22px;
  	line-height: 39px;
    text-align: center;
    margin: 30px 0 60px;
  }

  .error {
    color: red;
    margin-bottom: 20px;

    &.invalid_credentials {
      text-align: center;
      padding-bottom: 4px;
    }
  }

  .invalidPassword {
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
    color: #323C47;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
  }

  input {
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #8C9EA7;
    height: 26px;
    font-size: 15px;
  }

  .button_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 47px;

    .button {
      height: 49px;
      width: 220px;
      background-color: #3A61A8;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .collapsible {
    font-size: 14px;
    border: none;
    padding: 10px 0;
    height: 34px;
    line-height: 20px;
    margin: 10px 0;
  }
  .collapsible:after {
    content: '';
    left: 400px;
  }
}
