@import '../../../styles/typography';

.box {
  border: 1px solid #E6EAEE;
  border-radius: 5px;
  background: #FFFFFF;
  width: 930px;
  margin: 10px auto;
  text-align: center;

  label {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include P5;

    input {
      height: 30px;
    }
    input, textarea {
      border: 1px solid #E6EAEE;
      border-radius: 4px;

      &:focus {
        outline: none;
        border-color: #3A61A8;
      }
    }
  }
  
  .title {
    @include H2;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid #E6EAEE;
  }

  .discard {
    color: #F1592A;
    font-size: 14px;
    cursor: pointer;
  }

  .footer {
    border-top: 1px solid #E6EAEE;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

    .errors {
      p {
        color: #F1592A;
        margin: 0;
      }
    }
  }

  .content {
    padding: 75px 100px;
  }
}

.saveBtns {
  display: flex;
  justify-content: space-between;

  button {
    margin-left: 15px;
  }
}
