@import '../../../../../../styles/typography';

.checklist__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6EAEE;

  &__data {
    display: flex;
    align-items: center;
    flex: 1;

    span {
      margin: 34px;
    }
  }
  &__btnContainer {
    margin: 0px 14px;
  }

  &__btn {
    display: inline-block;
    cursor: pointer;
    outline-color: #c5cfe4;
    height: 40px;
    width: 60px;
    border-radius: 20px;
    position: relative;
    margin: 0px 6px;

    &.active {
      opacity: 1;
    }

    &.inactive {
      opacity: 0.35;
    }
  }

  .success {
    @extend .checklist__item__btn;
    background-color: #A6E50F;
    &:after {
      position: absolute;
      content: "";
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      height: 17px;
      width: 6px;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      left: 26px;
      top: 9px;
    }
  }

  .failure {
    @extend .checklist__item__btn;
    background-color: #F1592A;
    &:before, &:after {
      position: absolute;
      content: ' ';
      height: 19px;
      width: 2px;
      background-color: #ffffff;
      left: 29px;
      top: 11px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  div.remarks {
    height: 20px;
    border: none;
    color: #3A61A8;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    cursor: pointer;

    + .remarks {
      margin-left: 10px;
      border-left: 1px solid #e6eaee;
      padding-left: 10px;
    }
  }
}

.itemWrapper {
  border: 1px solid #E6EAEE;
  background-color: #ffffff;
  margin-bottom: 12px;
}

.remarkInput {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  text-align: right;
  position: relative;

  label {
    padding: 5px 5px 10px 0px;
    text-align: left;
    position: relative;
  }

  .camera {
    position: absolute;
    right: 29px;
    border: none;
    margin-top: 5px;
    padding: 10px 3px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
    align-items: center;

    img {
      margin-left: 10px;
    }
    input {
      display: none;
    }
  }

  button {
    margin: 0 20px 20px 0;
  }
}

.remark {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 22px 10px 33px;
  @include P1;
  border-bottom: 1px solid #e6eaee;

  .label {
    @include P5;
    flex-basis: 100%;
    color: #8C9EA7;
    font-family: Lato;
    font-size: 15px;
    line-height: 26px;
  }

  a {
    margin: 0 15px;
  }
}

.workorderWrapper {
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.error {
  color:red;
  text-align:left;
  padding-left: 140px;
}